.game-detail-container {
    display: flex;
    height: 100vh;
    background-color: #12121224;
    color: #fff;
  }
  
  .sidebar {
    width: 20%;
    padding: 20px;
    background-color: #150a173d;
    border-right: 1px solid #333;
    text-align: center;
  }
  
  .sidebar img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 100%;
  }
  
  .sidebar button {
    margin-top: 20px;
    padding: 10px;
    background-color: #8b8ae1;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    opacity: 0.8;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .main-content h2 {
    margin-bottom: 10px;
  }
  
  .avaliacoes-list {
    margin-top: 20px;
  }
  
  .avaliacao-card {
    background-color: #1e1e2f55;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .user-profile {
    width: 20%;
    padding: 20px;
    background-color: #150a173d;
    border-left: 1px solid #333;
    text-align: center;
  }
  
  .user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .avaliacao-card {
    background-color: #1e1e2f55;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .avaliacao-header {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    gap: 10px; /* Espaçamento entre a imagem e o texto */
    margin-bottom: 10px;
  }
  
  .avaliacao-perfil {
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem se ajuste corretamente */
    flex-shrink: 0; /* Impede que a imagem seja redimensionada */
  }
  
  .avaliacao-info {
    display: flex;
    flex-direction: column; /* Organiza o texto em coluna */
  }
  
  .avaliacao-info h3 {
    margin: 0;
    font-size: 1.1em;
  }
  
  .avaliacao-info p {
    margin: 0;
    font-size: 0.9em;
    color: #ccc;
  }

  .avaliacoes-list {
    max-height: 400px; /* Define a altura máxima da lista */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
    padding-right: 10px; /* Espaçamento interno para evitar sobreposição com a scrollbar */
  }
  
  /* Estiliza a scrollbar */
  .avaliacoes-list::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
  }
  
  .avaliacoes-list::-webkit-scrollbar-track {
    background: #1e1e2f; /* Cor do fundo da scrollbar */
    border-radius: 10px; /* Bordas arredondadas */
  }
  
  .avaliacoes-list::-webkit-scrollbar-thumb {
    background: #555; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid #1e1e2f; /* Adiciona um contorno para combinar com o fundo */
  }
  
  .avaliacoes-list::-webkit-scrollbar-thumb:hover {
    background: #777; /* Cor ao passar o mouse */
  }